
.sponsors {
  /* background: #1d1d1d; */
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.sponsors h2 {
  color: #ff4081;
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.sponsor {
  /* background: #292929; */
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sponsor:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(255, 64, 129, 0.3);
}

.shared-bg-section {
  background: linear-gradient(
      rgba(29, 29, 29, 0.9),
      rgba(29, 29, 29, 0.9)
    ),
    url('../assets/paint') no-repeat center center / cover;
  padding: 60px 20px;
  color: #fff;
}
